@import "tailwindcss";

:root {
  --sans: "Poppins", sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: #08060d;
  background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  min-height: 100vh;
}